meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Tecnologías emergentes en el sector salud
meta(meta name="description" content="La tecnología e innovación en salud ha tenido una gran acogida a nivel mundial debido al reconocimiento creciente de la incidencia que tiene el estado de salud de las personas sobre el bienestar y el crecimiento económico y sobre como a través de la tecnología se puede brindar un diagnóstico oportuno, además de realizar seguimiento y tratamiento de la enfermedad.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")