.container
    .header-ecored
        h1 2. Hospitales inteligentes: conceptos básicos
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid
        p ¡Hola! A lo largo del curso hemos visto cómo la tecnología llegó para revolucionar el mundo; en este sentido, los sistemas de salud son cada vez más dependientes de las tecnologías, por lo que las instituciones prestadoras de servicios de salud deben adaptarse al cambio y a la implementación de nuevas estrategias digitales para mejorar la calidad en la prestación de sus servicios.         
        p Es así como los hospitales se han unido a esta transformación digital, identificando oportunidades para el desarrollo tecnológico en sus instalaciones, alejándose de un modelo tradicional, para convertirse en lo que se conoce como hospitales inteligentes. 
        p Los hospitales inteligentes no solo buscan incorporan los avances tecnológicos, informáticos y robóticos, sino que también buscan la implementación de medidas de mitigación, y preparativos para reducir el impacto de los desastres en la salud, teniendo en cuenta la relación de costo-beneficio, buscando que los hospitales no solo sean seguros, sino también compatibles con el medio ambiente y con un enfoque de atención centrado en el paciente. 
        img.img-a.mt-6(src="assets/images/pages/ilustraciones/img6.png").img-fluid
        p Ahora bien, si observamos el estado actual de los hospitales, se puede evidenciar que la gran cantidad de usuarios, en contraste con el número de personal médico profesional disponible para prestar la atención en salud, en muchas ocasiones limita la buena atención; de ahí que la aplicación del Internet de las cosas (IoT) permite mejorar la calidad de la atención, y además, la optimización de recursos para brindar unos tiempos de respuesta más cortos por parte los profesionales de la salud. 
        p Es importante diferenciar muy bien los términos de hospital digital y hospital inteligente, porque muchas veces llegamos a confundir estos términos; un hospital inteligente implementa soluciones que logran un gran impacto  en el sistema de salud a nivel mundial, siendo capaz de demostrar que las herramientas tecnológicas  aumentan la productividad y posibilitan una atención personalizada y de mayor calidad, que al final redunda en el mejoramiento del estado de salud de los pacientes. 
        p Como lo mencionamos anteriormente, un hospital inteligente evoluciona con las nuevas tecnologías, buscando alcanzar la eficiencia operativa, la excelencia clínica y la concentración del profesional de la salud en el paciente; permitiendo a los hospitales ver las ganancias en mejores indicadores de salud y en una mejor economía de la institución. 
        p En términos generales, dentro de las herramientas que utiliza un hospital inteligente se encuentran: dispositivos médicos, productos farmacéuticos, ciencias de la vida, TI de la salud, logística interna, administración de instalaciones y el manejo de la información, siendo esta última una de las herramientas más útiles, puesto que permite apoyar la toma de decisiones con base en lo que realmente pasa en la institución, reflejándose en el incremento de la eficiencia. 

        p.mt-5 Sin duda, con la implementación de las diferentes tecnologías emergentes en los hospitales, son múltiples los beneficios que obtienen estas instituciones, entre los cuales podemos mencionar los siguientes:
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-5.mx-3.card-br.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img7.png").img-fluid
                p.px-2.py-2 A. Mejor comunicación del personal asistencial y los pacientes.

            .col-12.col-md-5.mx-3.card-br.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img8.png").img-fluid
                p.px-2.py-2 B. Tiempos de respuesta más cortos.

        .row.justify-content-center.align-items-stretch.my-5
            .col-12.col-md-5.mx-3.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img9.png").img-fluid
                p.px-2.py-2 C.	Disminución del margen de error humano.

            .col-12.col-md-5.mx-3.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img10.png").img-fluid
                p.px-2.py-2 D.	Reducción de costos. 


        .row.justify-content-center.align-items-stretch.my-5
            .col-12.col-md-5.mx-3.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img11.png").img-fluid
                p.px-2.py-2 E.	Monitoreo en tiempo real de diferentes variables de cada paciente.

            .col-12.col-md-5.mx-3.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img12.png").img-fluid
                p.px-2.py-2 F.	Mejora de la calidad asistencial.

        .row.justify-content-center.align-items-stretch.my-5
            .col-12.col-md-5.mx-3.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img13.png").img-fluid
                p.px-2.py-2 G.	Información en tiempo real de lo que está sucediendo en sus operaciones administrativas y en el desempeño del talento humano.

            .col-12.col-md-5.mx-3.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img14.png").img-fluid
                p.px-2.py-2 H.	Aumento de la eficiencia en las operaciones.

        .row.justify-content-center.align-items-stretch.my-5
            .col-12.col-md-5.mx-3.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img15.png").img-fluid
                p.px-2.py-2 I.	Monitoreo remoto de pacientes.

            .col-12.col-md-5.mx-3.card-br
                img.img-a.pt-3(src="assets/images/pages/ilustraciones/img16.png").img-fluid
                p.px-2.py-2 J.	Transmisión en tiempo real de los datos de los pacientes que están siendo atendidos y los que están en espera.               

        p La iniciativa de la implementación de hospitales inteligentes no es ajena a la realidad de un mundo que demandará cada vez más servicios de salud, por lo que la tecnología se convierte en un aliado para ayudar a optimizar procesos de esta mayor demanda, mejorando toda la cadena asociada a la atención de los pacientes, desde su ingreso hasta el seguimiento del tratamiento.
        h3 Ejemplo de hospital inteligente
        img.img-a.py-3(src="assets/images/pages/ilustraciones/img17.png").img-fluid
        p El hospital pediátrico #[strong Nemours Children’s], en Orlando, Florida,  integró cámaras con tecnología inteligente para aumentar la evaluación en la salud y acelerar los tiempos de respuestas ante emergencias. Debido a que se trata de un recinto enfocado en atender niños, era necesaria una constante supervisión de los infantes; además, esta integración permitió crear un Centro de Logística Clínica, donde un equipo de especialistas verifica los signos vitales de los pacientes a través de una plataforma de monitoreo central con video en vivo para cada una de las habitaciones (Tecnoseguro, 2020).