.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Algoritmos:
            | Secuencia de instrucciones para llevar a cabo un proceso informático a través de un software.
        
        p
            strong.mr-2 #[i Chatbots]:
            | Software informático que simula el comportamiento humano, con el que es posible mantener una conversación.
        p 
            strong.mr-2 #[i Clustering]:
            | Cataloga en grupos los datos de salida en el algoritmo. Un ejemplo podría ser el caso de la clasificación de los pacientes en un hospital de acuerdo con sus características clínicas.
        p 
            strong.mr-2 TI de la salud:
            | Tecnologías de la Información utilizadas en el sector salud.

        p 
            strong.mr-2 #[i Software]:
            | Programas que permiten a la máquina ejecutar tareas.

        p 
            strong.mr-2 #[i Hardware]:
            | Partes físicas de la máquina.    

        p
            strong.mr-2 Interconexión:
            | Puntos de intercambio de tráfico que integran conexiones directas y privadas (Kionetworks, 2019).

        p
            strong.mr-2 Nanómetros:
            | Mil millonésima parte de un metro. Cobró notoriedad con el estudio y aparición de la nanotecnología. 

        p
            strong.mr-2 Programación:
            | Proceso para organizar e idear un software.