.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td IBM, 2018.  Machine Learning para Dummies. 
                    td Libro digital
                    td 
                        a(href="https://www.ibm.com/downloads/cas/GB8ZMQZ3", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td IMEFI TV. 2017, Blockchain y Contratos Inteligentes - Abogado Digital.

                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=Nv5RYNot7hY", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver     

                tr
                    td Management solutions. 2015. Data Science y la transformación del sector financiero. 
                    td Documento pdf
                    td 
                        a(href="https://www.managementsolutions.com/sites/default/files/publicaciones/esp/Data-Science.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Management solutions. 2018. Machine Learning. Una pieza clave en la transformación de los modelos de negocios. 
                    td Documento pdf
                    td 
                        a(href="https://www.managementsolutions.com/sites/default/files/publicaciones/esp/machine-learning.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Ministerio de Protección Social. (Sf). Evaluación de tecnologías en salud: aplicaciones y recomendaciones en el sistema de seguridad social en salud colombiano.
                    td Documento pdf
                    td 
                        a(href="media/documentos/Evaluacion_de_Tecnologias_en_Salud.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
