include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Goldiez, B. (2013). Realidad Virtual, Aumentada y Mixta, una visión general . Espacio I+D Innovación más Desarrollo, pp. 7-15.", " ")

        +referenciaItem("Iberdrola. (2020). Iberdrola. ", "https://www.iberdrola.com/innovacion/aplicaciones-nanotecnologia")

        +referenciaItem("IBM. (2020). IBM. ", "https://cutt.ly/toubkd0")

        +referenciaItem("Innovae. (2020). Innovae. ", "https://www.innovae.eu/la-realidad-aumentada/")

        +referenciaItem("Kionetworks. (2019). Kionetworks. ", "https://www.kionetworks.com/blog/data-center/que-es-la-interconexion-de-redes")

        +referenciaItem("Lanner. (2019). Lanner América. ", "https://www.lanner-america.com/es/blog-es/4-tecnologias-de-computacion-periferica-que-permiten-una-infraestructura-de-red-preparada-para-la-iot/")

        +referenciaItem("Management solutions. (2015). managementsolutions.com. ", "https://www.managementsolutions.com/sites/default/files/publicaciones/esp/Data-Science.pdf")

        +referenciaItem("Management solutions. (2018). Machine Learning: una pieza clave en la transformación de los negocios. MSO, 48.", " ")

        +referenciaItem("MinTic. (2020). Centro de innovación públlica digital. ", "https://centrodeinnovacion.mintic.gov.co/es/blogs/tecnologias-emergentes")

        +referenciaItem("Oracle. (2020). Oracle. ", "https://www.oracle.com/co/internet-of-things/what-is-iot.html")

        +referenciaItem("Pastorino, C. (2018). Welivesecurity. ", "https://www.welivesecurity.com/la-es/2018/09/04/blockchain-que-es-como-funciona-y-como-se-esta-usando-en-el-mercado/")

        +referenciaItem("Rodríguez, A. (2019). Diseño y desarrollo de una aplicación de realidad mixta. Valencia, España: Universidad Politécnica de Valencia.", " ")

        +referenciaItem("Tecnoseguro. (2020). Tecnoseguro. ", "https://www.tecnoseguro.com/noticias/cctv/aplicaciones-video-ip-axis-hospitales-inteligentes")

        +referenciaItem("Universidad Politécnica de Madrid. (2020). Departamento de inteligencia artificial.", "http://www.dia.fi.upm.es/masteria/")        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            