include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("APD. (2019). APD.", "https://www.apd.es/que-es-machine-learning/")

        +referenciaItem("Blázquez, A. (2017). Universidad Politécnica de Madrid.", "http://oa.upm.es/45985/1/Realidad_Aumentada__Educacion.pdf")

        +referenciaItem("Castán, Y. (sf). Instituto Aragonés de Ciencias de la Salud.", "http://www.ics-aragon.com/cursos/salud-publica/2014/pdf/M2T00.pdf")

        +referenciaItem("Coreiman. (2020). Coreiman. ", "http://www.coremain.com/machine-learning-digital-empresas/")

        +referenciaItem("Fernández, R. (2005). Introducción al Sistema Penitenciario Español", "https://docplayer.es/7900389-Introduccion-al-sistema-penitenciario-espanol-1-autor-rafael-fernandez-cubero.html")

        +referenciaItem("Elsevier. (2018). Elsevier. ", "https://www.elsevier.com/es-es/connect/ehealth/transformacion-digital-del-sector-salud-mapa-de-situacion-y-tendencias")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            